td {
  border: 1px solid #333;
  padding: 5px;
  text-align: center;
}

table {
  margin-left: 20px;
  margin-bottom: 50px;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}
.checkbox {
  width: 20px;
  height: 20px;
}
.checkLength {
  width: 30px;
}
#buttonsDiv {
  display: flex;
  padding-left: 22px;
  gap: 10px;
  margin-bottom: 10px;
}
.responseImageError {
  text-align: center;
  margin-top: 30px;
}
.responseImageLoading {
  text-align: center;
  margin-top: 120px;
}
